<VirtualHost *:80>
    ServerAdmin webmaster@example.com
    DocumentRoot ./app/public  # Змініть цей шлях на реальний шлях до папки public вашого додатку

    <Directory /var/www/html/app-for-devops/public>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html
    </IfModule>

</VirtualHost>